<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChessGame.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChessGame.Settings>
            <setting name="NewGameDialogSettings" serializeAs="String">
                <value>White:White|Black:Black</value>
            </setting>
            <setting name="PgnDialogSettings" serializeAs="String">
                <value>IncludeEmptyTags:True</value>
            </setting>
        </ChessGame.Settings>
    </userSettings>
</configuration>